<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConectarBD.Properties.Settings.StringConecao" connectionString="Data Source=WILHELM;Initial Catalog=LojaInformatica;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>